# Python
*.pyc
*~
__pycache__

# Env
.env
myvenv/
venv/
.venv/
.venv

# Database
db.sqlite3

# Static folder at project root
/static/
/mysite/settings.py
mysite/settings.py
/mysite/settings_local.py
mysite/settings_local.py
/data/
/www_inforoutefpt_org/
www_inforoutefpt_org/

# macOS
._*
.DS_Store
.fseventsd
.Spotlight-V100

*.ipynb
