<div class="row mb-3">
    {% if action_createur %}
        <div class="accordion" id="accordionAttribution">
            {% for x in action_createur %}
                <div class="accordion-item mb-2">
                    <h2 class="accordion-header" id="heading{{forloop.counter}}">
                        <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapse{{forloop.counter}}" aria-expanded="false" aria-controls="collapse{{forloop.counter}}">
                            dossier: {{x.problematique.eleve.nom}} {{x.problematique.eleve.prenom}} Gr. {{x.problematique.eleve.grouperepere}} | {{x.description}} | Attitrée à: {{x.responsable}}
                        </button>
                    </h2>
                    <div id="collapse{{forloop.counter}}" class="accordion-collapse collapse" aria-labelledby="heading{{forloop.counter}}" data-bs-parent="#accordionAttribution">
                        <div class="accordion-body">
                            <div class="row mt-2">
                                Pour la problematique: {{x.problematique.nom}}
                            </div>
                            <div class="row mt-2 border rounded px-3 pt-3 pb-3">
                                {% if x.problematique.detail %}
                                    {{x.problematique.detail}}
                                {% else %}
                                    Aucun détail n'est insctit
                                {% endif %}
                            </div>
                            <div class="row mt-2">
                                status: {{x.status}}
                            </div>
                            <div class="row mt-2">
                                <a href="{% url 'student-detail' x.problematique.eleve.id %}">Voir fiche de l'élève</a>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    {% else %}
    <div class="row mt-3 px-4 text-muted">
        Aucune action !
    </div>
    {% endif %}
</div>