{% extends 'base.html' %}
{% load static %}

{% block js %}
<script src="{% static 'page/js/search_student_name.js' %}"> </script>
<script src="{% static 'student/js/action_status_submit.js' %}"> </script>

<script>
    $(document).ready(function(){
        $('#toggleSwitch').change(function(){
            if ($(this).is(':checked')) {
                $('#etudiant_view').show();
                $('#responsable_view').hide();
            } else {
                $('#etudiant_view').hide();
                $('#responsable_view').show();
            }
        });
    });
</script>
{% endblock %}

{% block content %}


<div class="container-fluid">
	<div class="row px-3 pb-5">
		{% if user.is_authenticated %}
			<!--  Message de bienvenue -->
			<div class="row text-muted mb-2 mt-3">
				<h3> Bonjour {{user.first_name}} </h3>
			</div>
			<!--  Section propriétaire -->
			<div class="row border pt-4 rounded pb-5 mt-3 mx-2">
				<!--  Titre -->
				<div class="mb-4 text-muted border-bottom border-muted">
					<h6> Actions actives pour lesquelles vous avez été identifié comme propriétaire</h6>
				</div>
				
				<div class="row mb-3">
					{% if action_resp %}
						<div class="accordion" id="accordionResposabilite">
							{% for x in action_resp %}
								<div class="accordion-item mt-3">
									<h2 class="accordion-header" id="heading_{{forloop.counter}}">
										<button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapse_{{forloop.counter}}" aria-expanded="false" aria-controls="collapse_{{forloop.counter}}">
											dossier: {{x.problematique.eleve.nom}} {{x.problematique.eleve.prenom}} Gr. {{x.problematique.eleve.groupe_repere}} | {{x.description}} | Attitré par: {{x.createur}}
										</button>
									</h2>
									<div id="collapse_{{forloop.counter}}" class="accordion-collapse collapse" aria-labelledby="heading_{{forloop.counter}}" data-bs-parent="#accordionResposabilite">
										<div class="accordion-body mx-4 mb-4">
											<div class="row mt-2">
												<div class="row">
													<div class="col-md-2">
														Problematique:
													</div>
													<div class="col">
														{{x.problematique.nom}}
													</div>
												</div>
												<div class="row mt-2">
													<div class="col-md-2">

													</div>
													<div class="col-md-10 text-secondary">
														{{x.problematique.detail|safe}}
													</div>
												</div>
												<div class="row mt-2">
													<div class="col-md-2">
														Action:
													</div>
													<div class="col">
														{{ x.description }}
													</div>
												</div>
												<div class="row mt-2">
													<div class="col-md-2">

													</div>
													<div class="col text-secondary">
														{{ x.detail|safe }}
													</div>
												</div>
												<div class="row mt-2">
													<div class="col-md-2">
														Status:
													</div>
													<div class="col-md-2">
														<select class="form-select action-status-select-js" id="select_status_{{ x.id }}">
															{% for status in statusaction %}
																{% if status.nom == x.status.nom %}
																	<option value="{{ status.id }}" selected>{{ status.nom }}</option>
																{% else %}
																	<option value="{{ status.id }}">{{ status.nom }}</option>
																{% endif %}
															{% endfor %}
														</select>
													</div>
													<div class="row mt-2">
														<a href="{% url 'student-detail' x.problematique.eleve.id %}">Voir fiche de l'élève</a>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							{% endfor %}
						</div>
					{% else %}
						<div class="row mt-3 px-4 text-muted">
							Aucune action !
						</div>
					{% endif %}
				</div>
			</div>
			
			<!--section attributeur -->
			<div class="row border pt-4 rounded pb-5 mt-3 mx-2">
				<!--  Titre -->
				<div class="row mb-4 text-muted border-bottom border-muted">
					<div class="col">
						<h6> Actions actives que vous avez attribuées</h6>
					</div>
					<div class="col">
						<div class="form-check form-switch">
							<input class="form-check-input" type="checkbox" id="toggleSwitch">
							<label class="form-check-label" for="toggleSwitch">Par étudiants</label>
						</div>
					</div>
				</div>
				
				<div class="row mb-3">
					{% if action_createur %}
						<div class="row" id="etudiant_view" style="display: none;">
							{% include 'page/user_detail_action_etudiant_tab.html' %}
						</div>
						<div class="row" id="responsable_view">
							{% include 'page/user_detail_action_responsable_tab.html' %}
						</div>
					{% else %}
					<div class="row mt-3 px-4 text-muted">
						Aucune action !
					</div>
					{% endif %}
				</div>
			</div>
	</div>
		
		
		
		
	{% else %}
		Not authenticated
	{% endif %}
	
</div>

{% endblock %}