<div class="col">
	<!--tittre-->
	<div class="row border bg-primary text-white pt-4 rounded pb-5 mt-3 mx-2">
		<h6>Partenaires / Intervenants</h6>
	</div>
	<!--table partenaires-->
	<div class="row pt-4 rounded pb-5 mt-3 mx-2">
		<table class="table table-striped table-sm">
				<tr>
					<td>Direction</td>
					<td><a href="mailto:{{student.responsible_personnel.direction.email}}?subject={{student.fiche}} / {{student.prenom}} {{student.nom}}">{{student.responsible_personnel.direction}}</a></td>
				</tr>
				<tr>
					<td>Professeur</td>
					<td><a href="mailto:{{student.responsible_personnel.regular_teachers.email}}?subject={{student.fiche}} / {{student.prenom}} {{student.nom}}">{{student.responsible_personnel.regular_teachers}}</a></td>
					
				</tr>
				{% if student.responsible_personnel.professional_list%}
					{% for pros in  student.responsible_personnel.professional_list%}
						<tr>
							<td>{{pros.speciality}}</td>
							<td><a href="mailto:{{pros.email}}?subject={{student.fiche}} / {{student.prenom}} {{student.nom}}">{{pros.get_full_name}}</a></td>
							{% comment %} <td>{{pros.get_full_name}}</td> {% endcomment %}
						</tr>
					{% endfor %}
				{% endif %}
		</table>
	</div>
</div>
