
<div class="card h-100 p-3 shadow">
	<h4 class="text-center p-3">État de la situation</h4>	
	<!-- section input -->
	<div class="row mb-4">
		<form>
			{% csrf_token %}
			<input type="hidden" name="student_id" value={{ student.id }}></input>
			{% if is_new_instance %}
				<div class="inline_textarea_etat_situation ms-3 border rounded pt-3 px-4" id="{{ next_id }}" data-creationdate="{% now "b. d, Y" %}"></div>
			{% endif %}

			{% for record in older_record_qs %}
			<div class=" ms-3 bg-body pt-3 px-4">
				<div class="row mb-3">
					<div class="col-12 col-md-3 text-muted text-sm border-bottom border-muted ">Inscrit le {{ record.creation_date|date:"Y-m-d" }}</div> 
					<div class="col-12 col-md-3 text-muted text-sm border-bottom border-muted ">par: {{record.creator}}</div> 
					<div class="col-12 col-md-3 text-muted text-sm border-bottom border-muted ">dernière maj : {{record.modification_date|date:"Y-m-d"}}</div> 
					<div class="col-12 col-md-3 text-muted text-sm border-bottom border-muted ">par: {{record.modifier}}</div> 
				</div>
				<div class="row inline_textarea_etat_situation" id="{{ record.id }}" data-creationdate="{{record.creation_date}}">{{ record.text|safe }}</div>
			</div>
			{% endfor%}
		</form>
	</div>
</div>
