{% extends 'base.html' %}
{% load static %}

{% block js %}
	<script src="https://cdn.tiny.cloud/1/3uxow28ssthmenpgxa54gwbtdj7mdpjqzi8sprt26xpv0dcz/tinymce/6/tinymce.min.js" referrerpolicy="origin"></script>
	<script src="{% static 'page/js/inline_textarea.js' %}"> </script>
	<script src="{% static 'student/js/set_problem_id.js' %}"> </script>
		
{% endblock %}

{% block content %}


<div class="container-fluid">
	<div class="row border">
	
		<div class="row mt-3">
			<div class="col"><h3>Fiche Étudiant</h3></div>
		</div>
		<!-- tableau info -->
		<div class="row mt-3">
			<div class="col-md-6">
				<table class="table table-striped table-sm">
					<tr><td>Nom, prénom:</td><td>{{student.nom}}, {{student.prenom}}</td></tr>
					<tr><td>Langue:</td><td>{{student.lang}}</td></tr>
					<tr><td>Date de Naissance:</td><td>{{student.dob}}</td></tr>
					<tr><td>Groupe repère:</td><td>{{student.groupe_repere}}</td></tr>
					<tr><td>Plan d'intervention:</td><td> {{student.plan_intervention}}</td></tr>
					<tr><td>Code:</td><td>{{student.code}}</td></tr>
					<tr><td>Classification:</td><td>{{student.classification}}</td></tr>
				</table>
			</div>
		</div>
		<!-- Section etat de la situation -->
		<div class="row mt-3">
			<!--  section titre-->
			<div class="row">
				<h4>État de la situation:</h4>
			</div>
			
			<!-- section input -->
			<div class="row mt-2 mb-2"> 
				<form>
				{% csrf_token %}<!-- min height ? -->
					<div class="inline_textarea ms-3" id="inline_textarea">
						{% if student.etat_situation %}
							{{student.etat_situation|safe}}
						{% else %}
							<p>Rien d'inscrit pour {{student.nom}}, {{student.prenom}} {{student.id}}</p>
						{% endif %}
					</div>
					<input type="hidden" value="{{student.id}}" id="student_id">
				</form>
			</div>
			
		</div>
	</div>
	<!-- Section Problemes -->
	<div class="row border mt-5">
		<!--  section titre-->
		<div class="row mt-2">
			<div class="col-md-6">
				<h4>Problématiques:</h4>
			</div>
			<div class="col">
				<!-- <a href="#">+ ajouter une problématique</a> -->
				<button type="button" class="btn btn-sm btn-primary float-end" data-bs-toggle="modal" data-bs-target="#exampleModal">
				  + Ajout problématique
				</button>
			</div>
		</div>
		
		<!-- section accordéon -->
		<div class="row mb-2">
			<div class="accordion" id="accordionEtatDeLaSituation">
				{% if student.problematique_set.all %}
					{% for problematique in student.problematique_set.all %}
					<div class="accordion-item mb-2">
						<h2 class="accordion-header" id="heading_{{forloop.counter}}">
							<button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapse_{{forloop.counter}}" aria-expanded="false" aria-controls="collapse_{{forloop.counter}}">
								{{ problematique.nom }} | statut: {{ problematique.status }} | inscrit par :  {{ problematique.instigateur.first_name }} {{ problematique.instigateur.last_name }}
							</button>
						</h2>
						<div id="collapse_{{forloop.counter}}" class="accordion-collapse collapse" aria-labelledby="heading_{{forloop.counter}}" data-bs-parent="#accordionEtatDeLaSituation">
							<div class="accordion-body">
							
								<strong>Explications / Détail:</strong>
									{% if problematique.detail %}
										<p>{{ problematique.detail }}</p>
									{%else%}
										<p>Aucune Explication / Détail</p>
									{%endif%}
								<strong>Actions:</strong>
								<ul class="list-group list-group-flush">
								{% if problematique.action_set.all %}
									{%for action in problematique.action_set.all %}
										<li class="list-group-item">
											{{action.description}} | {{action.responsable}} | {{action.status}}
										</li>
									{% endfor %}
								{% else %}
									<li class="list-group-item">Aucune Action n'a été planifiée </li>
								{% endif %}
								</ul>
								<!-- <a href="#">+ ajouter une action</a> -->
								<button type="button" class="btn btn-link open-action" data-id="{{problematique.id}}" data-bs-toggle="modal" data-bs-target="#Modalaction">+ ajouter une action</button>
								<!-- <div class="row md-2"> -->
									<button type="button" class="btn btn-sm btn-danger float-end">
									  	Supr. prob.
									</button>
								<!-- </div> -->
							</div>
						</div>
					</div>
					{% endfor %}
				{% else %}
					Aucune problématique n'est associée avec {{student.nom}}, {{student.prenom}}
				{%endif%}
			</div>
		</div>
		
	</div>
	<!--  Section Suivis des actions -->
	<div class="row mt-5">
		<div class="row">
			<div class="col mt-2">
				<h3>Suivis des actions</h3>
			</div>
		</div>
		
		<div class="row mt-2 mb-2 border"> <!-- min height ? -->
			{% if student.problematique_set.all %}
				{% for problematique in student.problematique_set.all %}
					{% if problematique.action_set.all %}
						{% for action in problematique.action_set.all %}
							<div class="row  mb-2">
								<p>{{action.description}} | Resp: {{action.responsable}}</p>
							</div>
						{% endfor %}
					{% else %}
						<p> Aucune action d'inscrite pour la probématique {{problematique.nom}}</p>
					{% endif %}
				{% endfor %}
			
			{% endif %}
		</div>
	</div>
	
</div>
{% include 'student/ajout_problematique.html' %}
{% include 'student/ajout_action.html' %}
{% endblock %}