<div class="row mt-2">
	<!--  section titre-->
	<div class="row border bg-primary text-white pt-4 rounded pb-5 mt-3 mx-2">
		<h6>État de la situation</h6>
		{% comment %} <p>Is New Instance? : {{is_new_instance}}</p>
		<p>Intervenant : {{intervenant.get_full_name}} id:{{intervenant.id}}</p> {% endcomment %}

	</div>
	<!-- section input -->
	<div class="row mt-4 mb-4">
		<form>
			{% csrf_token %}
			<input type="hidden" name="student_id" value={{ student.id }}></input>
			{% if is_new_instance %}
				<div class="inline_textarea_etat_situation ms-3 border rounded pt-3 px-4" id="{{ next_id }}" data-creationdate="{% now "b. d, Y" %}"></div>
			{% endif %}

			{% for record in older_record_qs %}
			<div class=" ms-3 bg-body pt-3 px-4">
				<div class="col text-muted text-sm">Inscrit le {{ record.creation_date }} par: {{record.creator}}, derniere mise a jours le : {{record.modification_date}} par: {{record.modifier}}</div> 
				<div class="col inline_textarea_etat_situation" id="{{ record.id }}" data-creationdate="{{record.creation_date}}">{{ record.text|safe }}</div>
			</div>
			{% endfor%}
		</form>
	</div>
</div>
