<div class="row">
  <div class="col-lg-1 border">Actif</div>
  <div class="col-lg-1 border">Cours</div>
  <div class="col">Description</div>
  {% comment %} <div class="col">Grille</div> {% endcomment %}
  <div class="col-lg-1 border">Type</div>
  {% comment %} <div class="col">Grp_prév</div> {% endcomment %}
  <div class="col-lg-1 border">Code matière </div> 
  <div class="col-lg-1 border">Niveau</div> 
  <div class="col-lg-1 border">Nb. per.</div> 
  <div class="col-lg-3 border"> Matiere</div>
  <div class="col-lg-1 border"> Option</div>
</div>