{% for item in object_list %}
    <!-- Your code to display each item -->
    <div class="row mt-4">
      <div class="col-lg-1 border">
        {% if item.is_active %}
          <div class="form-check form-switch">
            <input class="form-check-input" type="checkbox" id="IsActif_{{item.Cours}}" checked>
          </div>
        {% else %}
          <div class="form-check form-switch">
            <input class="form-check-input" type="checkbox" id="IsActif_{{item.Cours}}">
          </div>
        {% endif %}
      </div> 
      <div class="col-lg-1 border">
        {{item.Cours}}
      </div>  
      <div class="col">
        {{item.Description}}
      </div>  
      {% comment %} <div class="col">
        {{item.Grille}}
      </div>   {% endcomment %}
      <div class="col-lg-1 border">
        {{item.Type}}
      </div>  
      {% comment %} <div class="col">
        {{item.Grp_prév}}
      </div>   {% endcomment %}
      <div class="col-lg-1 border">
        {{item.code}}
      </div> 
      <div class="col-lg-1 border">
        {{item.niveau}}
      </div> 
      <div class="col-lg-1 border">
        {{item.nombre_periode}}
      </div> 
      <div class="col-lg-3 border">
        {{item.matiere}}
      </div> 
      <div class="col-lg-1 border">
        {{item.is_optional}}
      </div> 
    </div>
{% endfor %}
