{% load static %}
<!-- https://learndjango.com/tutorials/django-login-and-logout-tutorial -->

{% block js %}
	<script src="{% static 'page/js/search_student_name.js' %}"> </script>
{% endblock %}

<div class="row">
	{% if user.is_authenticated %}
	<nav class="navbar navbar-expand-lg navbar-dark bg-dark sticky-top">
		<div class="container-fluid">

		    <a class="navbar-brand" href="#">Général-Vanier</a>

		    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>

			<div class="collapse navbar-collapse" id="navbarSupportedContent">
			
				<ul class="navbar-nav me-auto mb-2 mb-lg-0">

					
					{% if user.regularteacher %}
						<li class="nav-item">
							<a class="nav-link" href="{% url 'regular_teacher_profile' %}">Mon Profile</a>
						</li>
					{% elif user.specialtyteacher %}
						<li class="nav-item">
							<a class="nav-link" href="{% url 'specialty_teacher_profile' %}">Mon Profile</a>
						</li>
					{% elif user.professional %}
						<li class="nav-item">
							<a class="nav-link" href="{% url 'professional_profile' %}">Mon Profile</a>
						</li>
					{% elif user.schooladmin %}
						<li class="nav-item">
							<a class="nav-link" href="{% url 'schooladmin_profile' %}">Mon Profile</a>
						</li>
					{% endif %}
				
					
					<li class="nav-item">
						<a class="nav-link" href="{% url 'home' pk=user.pk %}">Mes Actions</a>
					</li>

					<li class="nav-item dropdown">
						<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
						  Listes
						</a>
						<ul class="dropdown-menu" aria-labelledby="navbarDropdown">
						  <li><a class="dropdown-item" href="{% url 'comite-clinique-list' %}">Comité Clinique</a></li>
						  <li><a class="dropdown-item" href="{% url 'evaluation-list' %}">Évaluations / comité d'aide</a></li>
						  <li><a class="dropdown-item" href="{% url 'problematique-list' %}">Éleves par problematique</a></li>
						</ul>
					</li>
					
					<li class="nav-item dropdown">
						<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
						  Mise à jour
						</a>
						<ul class="dropdown-menu" aria-labelledby="navbarDropdown">
						  <li><a class="dropdown-item" href="{% url 'student-csv-uplaod' %}">Étudiants</a></li>
						  <li><a class="dropdown-item" href="{% url 'teacher_csv_uplaod' %}">Employés</a></li>
						  <li><a class="dropdown-item" href="{% url 'upload_matiere_excel' %}">Matières</a></li>
						</ul>
					</li>
	        		<li class="nav-item">
						<a class="nav-link" href="{% url 'admin:index' %}">Admin</a>
					</li>
					
					<li class="nav-item">
						<a class="nav-link" href="{% url 'logout' %}">Logout</a>
					</li>
				</ul>

				<form class="d-flex">
					<input class="form-control me-2" type="search" placeholder="Recherche étudiant" aria-label="Search" id="studentsearchbox">
				</form>

		    </div>

		</div>
	</nav>

	<div class="row">
		<div name="suggestion_box" class="suggestion-box" id="suggestion-box"></div>
	</div>

	{% else %}

	<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
		<div class="container-fluid">
	
	    <a class="navbar-brand" href="#">DJ</a>

	    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		
		<div class="collapse navbar-collapse" id="navbarSupportedContent">
			<ul class="navbar-nav me-auto mb-2 mb-lg-0">
				<li class="nav-item">
					<a class="nav-link" href="{% url 'login' %}">Login</a>
				</li>
			</ul>			
	    </div>

	</div>
	</nav>

	{% endif %}
</div>