<!-- summary_page.html -->
{% extends 'base.html' %}

{% load bootstrap5 %}

{% block content %}
<div class="container">
    <h1>Create Students</h1>
        <form action="{% url 'csv-uplaod' %}" method="post">
            {% csrf_token %}
            Number of new students: {{num_new_students}}
            <table class="table table-striped">
                <thead>
                    <tr>
                        {% for field in table_header %}
                            <th>{{ field }}</th>
                        {% endfor %}
                </tr>
                </thead>
                <tbody>
                    {% comment %} {% for table_field in table_header %} {% endcomment %}
                        {% for student in new_students_to_create_list%}
                            <tr>
                            {% for field, value in student.get_fields %}
                                {% comment %} {% if field == table_field%} {% endcomment %}
                                    <td>{{ value }}</td>
                                {% comment %} {% endif %} {% endcomment %}
                            {% endfor %}
                            </tr>
                        {% endfor %}
                    {% comment %} {% endfor %} {% endcomment %}
                    {% comment %} <tr>
                        {% for field in form %}
                            {% if not field.is_hidden %}
                                <td>{{ field }}</td>
                            {% endif %}
                        {% endfor %}
                    </tr>
                    {% endfor %} {% endcomment %}
                </tbody>
            </table>
            <button type="submit" class="btn btn-primary">Create Student</button>
        </form>
    </div>
</div>
{% endblock %}
