<!-- summary_page.html -->
{% extends 'base.html' %}

{% load bootstrap5 %}

{% block content %}
<div class="container">
    
    <h1>Somaire des changements aux étudiants</h1>
        
        Number of newly created students: {{number_newly_created_student}}<br>
        Number of existing but updated students: {{number_existing_updated_student}}<br>
        Number of students set to inactive: {{number_of_inactivated_records}}<br>
        <button type="submit" class="btn btn-primary">Create Student</button>
        
    </div>
</div>
{% endblock %}
