{% extends 'base.html' %}

{% load bootstrap5 %}

{% block title %}Upload CSV{% endblock %}

{% block content %}
  <div class="container">
    <h2>Mise à jour des étudiants</h2>

    <div class="row">

      <p> La mise à jour des étudiants peut se faire à partir d'un fichier .csv ou .xlsx. <br>
        Le fichier doit contenir l'ensemble des éleves de l'école et doit contenir les colonnes suivantes:
        <ul class="list-group list-group-flush">
          <li class="list-group-item">FICHE	</li>
          <li class="list-group-item">NOM	</li>
          <li class="list-group-item">DATE DE NAISSANCE	</li>
          <li class="list-group-item">LANGUE PARLÉ À LA MAISON	</li>
          <li class="list-group-item">GROUPE	</li>
          <li class="list-group-item">PLAN D'INTERVENTION	</li>
          <li class="list-group-item">DIFFICULTÉ	</li>
          <li class="list-group-item">CLASSIFICATION</li>
        </ul>
      </p>

    </div>

    <form method="post" enctype="multipart/form-data" class="mt-4">
      {% csrf_token %}
      {% bootstrap_form form layout="horizontal" %}
      <div class="row mt-2 mb-4">
        <div class="form-check">
          <input class="form-check-input" type="checkbox" value="True" id="update_group" name="update_groupe">
            <label class="form-check-label" for="update_groupe">
                Mise à jour du groupe repère
            </label>
        </div>
      </div>
      
      <button type="submit" class="btn btn-primary">Submit</button>
    </form>
  </div>
{% endblock %}

